#!/bin/sh

# misc
xset s off # turn off screensaver
xset -dpms # disable turn off screen
xset r rate 351 60 # keyboard repeat rate

# keys
setxkbmap -layout us
setxkbmap -option caps:escape
setxkbmap -option compose:menu
