#!/bin/sh

# misc
xset s off # turn off screensaver
xset -dpms # disable turn off screen
xset r rate 351 60 # keyboard repeat rate

# keys
setxkbmap -layout us
setxkbmap -option caps:escape
setxkbmap -option compose:menu

# monitor setup
~/.screenlayout/sidescreen_izquierda.sh

# automated partitions in i3blocks
~/.config/i3/scripts/data_partitions.sh
