/* colors */

* {
  al:      #00000000;
  bg:      #002b36;
  se:      #002b36;
  fg:      #839496;
  ac:      #859900;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #569CD6ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
